@import url("https://fonts.googleapis.com/css2?family=Six+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Six+Caps&display=swap");
body {
  color: #7f8487;
  font-family: "Merriweather", serif;
  line-height: 1.6;
  background: #f9f9f9;
  font-size: .875rem;
  margin: 0;
}

img {
  max-width: 100%;
}

h1, h2, p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  color: #8cc0de;
  line-height: 1;
  font-size: 3.125rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.15em;
  color: #413f42;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Six Caps", sans-serif;
}

.welcome {
  background-image: url(../img/bg-img.jpg);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center;
}

.welcome h1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #525e75;
  line-height: 2;
  text-align: center;
}

.welcome h1 span {
  font-size: 5.5rem;
  letter-spacing: 0.15em;
  color: #8cc0de;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Six Caps", sans-serif;
  display: block;
}

.welcome h1::before, .welcome h1::after {
  content: '';
  display: block;
  width: 60%;
  height: 1px;
  background: #525e75;
}

.welcome h1::before {
  margin: 0 auto 2em;
}

.welcome h1::after {
  margin: 2em auto 0;
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
      grid-template-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr);
  color: rgba(249, 249, 249, 0.7);
}

.intro h2 {
  color: rgba(249, 249, 249, 0.95);
}

.intro h2::after {
  content: '';
  width: 20%;
  height: 1px;
  background: rgba(249, 249, 249, 0.7);
  display: block;
  margin: 1em auto 0;
}

.intro-middle {
  background: #525e75;
  padding: 2.5em 5vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-left img, .intro-right img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  display: block;
}

.about-me {
  width: 90%;
  margin: 0 auto;
  max-width: 50em;
  min-width: 30em;
  margin-top: 5em;
  margin-bottom: 5em;
}

.about-me::after {
  content: '';
  display: block;
  clear: both;
}

.about-img {
  max-height: 25em;
}

@media (min-width: 42em) {
  .about-img {
    float: left;
  }
}

.about-title {
  margin-bottom: .25em;
  padding-top: .25em;
}

.about-subtitle {
  margin: .5em 0;
}

.about-me {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
      grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
}

.about-img {
  grid-column: port-start / img-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media (min-width: 50em) {
  .about-img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    margin-left: 3.5em;
  }
}

.about-title {
  grid-column: name-start / port-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (min-width: 50em) {
  .about-title {
    margin-left: 1em;
  }
}

.about-subtitle, .about-text {
  grid-column: port-start / port-end;
}

@media (min-width: 50em) {
  .about-subtitle, .about-text {
    grid-column: img-end / port-end;
  }
}

.about-subtitle {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.about-text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.portfolio {
  text-align: center;
  background: #f3f1f5;
  padding: 5em 0;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-item img {
  display: block;
}

.portfolio-item figcaption {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.2em;
  background: rgba(140, 192, 222, 0.75);
  color: #f9f9f9;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: top ease-in-out 250ms;
  transition: top ease-in-out 250ms;
}

.portfolio-item:hover figcaption, .portfolio-item:focus figcaption {
  top: 0;
}

.portfolio-title {
  color: #f9f9f9;
  font-size: 2rem;
  margin-bottom: auto;
}

.portfolio-desc {
  display: none;
}

.portfolio-link {
  color: #f9f9f9;
  font-weight: 900;
  font-size: 1.27rem;
  text-decoration: none;
  border-bottom: 2px solid #f9f9f9;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.portfolio-items {
  width: 90%;
  margin: 0 auto;
  max-width: 50em;
  min-width: 30em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 50em) {
  .portfolio-items {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.portfolio-item {
  margin: 0;
}

.portfolio-item.featured {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.featured .portfolio-title {
  font-size: 4rem;
}

.featured .portfolio-desc {
  display: block;
}

.featured figcaption {
  padding: 2em;
}

.featured img {
  max-height: 65em;
  min-width: 100%;
}

.contact {
  width: 90%;
  margin: 0 auto;
  max-width: 50em;
  min-width: 30em;
  padding: 5em 0;
}

.contact h1 {
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  display: block;
  margin-top: 1em;
  color: #413f42;
}

input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: .3em;
  width: 100%;
  background: #f3f1f5;
  border: 1px solid rgba(127, 132, 135, 0.4);
  font-size: 1.2rem;
}

.button {
  display: inline-block;
  width: auto;
  margin-top: 1em;
  margin-left: auto;
  background: #8cc0de;
  border: none;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  color: #f9f9f9;
  text-transform: uppercase;
  line-height: 1;
  font-family: "Six Caps", sans-serif;
  padding: .25em 1.5em;
  cursor: pointer;
}

footer {
  background: #525e75;
  padding: 5em 0;
  text-align: center;
  color: rgba(249, 249, 249, 0.7);
}

footer p {
  font-size: 1.2em;
}

.social-icons {
  width: 90%;
  margin: 0 auto;
  max-width: 10em;
  min-width: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.75em auto;
}

.social-icon {
  width: 25%;
  height: 25%;
}

.copyright {
  font-size: 1.1em;
}

.copyright::before {
  content: '';
  display: block;
  height: 1px;
  background: rgba(249, 249, 249, 0.7);
  margin: 3em auto;
  width: 25%;
}
/*# sourceMappingURL=main.css.map */