.about-me {
    @include container;
    @include clearfix;

    margin-top: 5em;
    margin-bottom: 5em;
}

.about-img {
    max-height: 25em;
    
    @media (min-width: 42em) {
        float: left; 
    }
}

.about-title {
    margin-bottom: .25em;
    padding-top: .25em;
}

.about-subtitle {
    margin: .5em 0;
}

.about-me {
        display: grid;
        grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
    }

.about-img {
        grid-column: port-start / img-end;
        grid-row: 1 / 2;

        @include mq {
            grid-row: 1 / 4;
            margin-left: 3.5em;
        }
    }
    
    .about-title {
        grid-column: name-start / port-end;
        grid-row: 1 / 2;
        align-self: end;
        
        @include mq {
            margin-left: 1em;
        }
    }
    
    .about-subtitle, .about-text {
        grid-column: port-start / port-end;
        
        @include mq {
            grid-column: img-end / port-end;
        }
    }

    .about-subtitle {
        grid-row: 2 / 3;
    }

    .about-text {
        grid-row: 3 / 4;
    }






