.portfolio {
    text-align: center;
    background: $light-gray;
    padding: 5em 0;
}

.portfolio-item {
    position: relative;
    overflow: hidden;

    img {
        display: block;
    }

    figcaption {
        position: absolute;
        top: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1.2em;
        background: rgba($accent, .75);
        color: $white;
        text-align: left;
        display: flex;
        flex-direction: column;
        transition: top ease-in-out 250ms;
    }

    &:hover figcaption, &:focus figcaption {
        top: 0;
    }
}

.portfolio-title {
    color: $white;
    font-size: 2rem;
    margin-bottom: auto;
}

.portfolio-desc {
    display: none;
}

.portfolio-link {
    color: $white;
    font-weight: $fw-b;
    font-size: 1.27rem;
    text-decoration: none;
    border-bottom: 2px solid $white;
    align-self: flex-start;
}


.portfolio-items {
    @include container ();
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mq {
        grid-template-columns: repeat(4, 1fr);
    }
    }

    .portfolio-item {
        margin: 0;
    }

    .portfolio-item.featured {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .featured {
        .portfolio-title {
            font-size: 4rem;
        }

        .portfolio-desc {
            display: block;
        }

        figcaption {
            padding: 2em;
        }

        img {
            max-height: 65em;
            min-width: 100%;
        }
    }

